body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* card for displaying projects */
.j-card {
  margin: 20px;
}
/* dimensions for images */
.j-card-image {
  border-radius:3px;
  width: 280px;
  height: 360px;
  box-shadow: 5px 5px 8px rgb(48, 48, 48);
}
/* hidden info for projects */
.j-card-info {
  margin-top: 10px;
  min-height: 100px;
}
/* styling for project titles */
.j-card-title {
  font-size: 22px;
  margin: 0px;
}
/* styling for project sub title */
.j-card-sub-title {
  font-size: 14px;
  margin: 0px
}

.hero {
  background-image: linear-gradient(#ffc600, white);
}

/* name(brand) in navbar animation */
#logo {
  animation: fill 0.8s ease forwards 5.0s;
}
#logo path:nth-child(1) {
  stroke-dasharray: 136px;
  stroke-dashoffset: 136px;
  animation: line-anim 2s ease forwards 0.8s;
}
#logo path:nth-child(2) {
  stroke-dasharray: 201px;
  stroke-dashoffset: 201px;
  animation: line-anim 2s ease forwards 1.1s;
}
#logo path:nth-child(3) {
  stroke-dasharray: 274px;
  stroke-dashoffset: 274px;
  animation: line-anim 2s ease forwards 1.4s;
}
#logo path:nth-child(4) {
  stroke-dasharray: 101px;
  stroke-dashoffset: 101px;
  animation: line-anim 2s ease forwards 1.9s;
}
#logo path:nth-child(5) {
  stroke-dasharray: 195px;
  stroke-dashoffset: 195px;
  animation: line-anim 2s ease forwards 2.2s;
}
#logo path:nth-child(6) {
  stroke-dasharray: 143px;
  stroke-dashoffset: 143px;
  animation: line-anim 2s ease forwards 2.5s;
}
#logo path:nth-child(7) {
  stroke-dasharray: 175px;
  stroke-dashoffset: 175px;
  animation: line-anim 2s ease forwards 2.8s;
}
#logo path:nth-child(8) {
  stroke-dasharray: 108px;
  stroke-dashoffset: 108px;
  animation: line-anim 2s ease forwards 3.2s;
}
#logo path:nth-child(9) {
  stroke-dasharray: 108px;
  stroke-dashoffset: 108px;
  animation: line-anim 2s ease forwards 3.5s;
}
#logo path:nth-child(10) {
  stroke-dasharray: 177px;
  stroke-dashoffset: 177px;
  animation: line-anim 2s ease forwards 3.8s;
}
@keyframes line-anim {
  to{
    stroke-dashoffset: 0;
  }
}
@keyframes fill {
  from {
    fill: transparent;
  }
  to {
    fill: #293053;
  }
}

/* successmessage for email */
.success-msg {
  color: rgb(45, 204, 101);
  padding: 10px 15px;
}

/* error message for email */
.err-msg {
  color: rgb(235, 58, 35);
  padding: 10px 15px;
}